<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>The Talking Show</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>-->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script type="text/javascript" language="JavaScript"><!--
		function HideContent(d) {
			document.getElementById(d).style.display = "none";
		}
		function ShowContent(d) {
			document.getElementById(d).style.display = "block";
		}
		function ReverseDisplay(d) {
			if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
			else { document.getElementById(d).style.display = "none"; }
		}
		//--></script>

    <script type="text/javascript">
    $('.title').each(function () {
    var s = '<span class="underline">',
        decoded;
    $(this).prop('innerHTML', function (_, html) {
        s += html.replace(/&amp;/g, '&').replace(/(g|j|p|q|y|Q|@|{|_|\(|\)|\[|\||\]|}|;|,|§|µ|ç|\/)/g, '</span>$1<span class="underline">');
        s += '</span>'
        $(this).html(s);
    });
});
    </script>


		<meta charset=utf-8 />


	  <!-- FONT
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link href="https://fonts.googleapis.com/css?family=News+Cycle|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/skeleton.css">
    <!--<link rel="stylesheet" href="css/main.css"> -->
  </head>
  <body>
  	<div class="container">
  		<div class="row">
  			<div class="twelve columns">
          <br>
          <header id="header" class="">
           <h1 style="text-align: center;"><span class="underline">The Talkin</span>g<span class="underline"> Show</span></h1>
           <!--		{% include nav.html %} -->
         </header>
         <br>
         {{content}}

         <h3>Episodes:</h3>
       </div>
     </div>
     <br>
     {% for episodes in site.posts %}

     <div class=row>

       <div class="three columns" style="vertical-align: top;">{{episodes.number}}</div>

       <div class="seven columns" style="vertical-align: top;">
        <a href="javascript:ReverseDisplay('content{{episodes.title}}')">
         <b>{{episodes.title}}</b></a>
         <div id="content{{episodes.title}}" style="display:none;">
          <br>{{episodes.content}}
          {{episodes.date | date: '%B %d, %Y'}}
          <br>
          <a href="{{site.baseurl}}{{episodes.url}}">Permalink to Post</a>
        </div>
      </div>

      <div class="two columns" id="right-al" style="vertical-align: top;"><a href={{episodes.meta}}>Download</a></div>


    </div>

    <hr>
    {% endfor %}

    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.4.min.js"><\/script>')</script>
  </div>
</div>
</div>


	<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. 
	<script>
		window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
		ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
	</script>
	<script src="https://www.google-analytics.com/analytics.js" async defer></script>-->
	<footer>
		 <a href="{{site.baseurl}}/atom.xml" style="text-align: center;">SUBSCRIBE TO PODCAST</a>
	</footer>
</body>
</html>