<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>the Talking Show</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>-->
	<link rel="icon" type="image/png" href="images/favicon.png">
	

	  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="https://fonts.googleapis.com/css?family=News+Cycle|Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/skeleton.css">
	<!--<link rel="stylesheet" href="css/main.css"> -->
</head>
<body>
<div class="container">
    <div class="row">
      <div class="twelve columns">
	<header id="header" class="">
<h1>{{page.title}}</h1></header>

<p>{{content}}</p>	
<p><a href="{{page.meta}}">Download Link</a></p>
<p><a href="{{baseurl}}">Return to rest of Talking Show website.</a>
</div>
</div>
</body>
</html>

